<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
      <link rel="stylesheet" href="/public/stylesheets/form.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="center">
         <div class="container">
            <!-- Render flash messages -->
            <div class="text">
               Login
            </div>
            <form action="/login" method="POST">
               <div class="data">
                  <label>Username</label>
                  <input type="text" id="username" name="username" required>
               </div>
               <div class="data">
                  <label>Password</label>
                  <input type="password" id="password" name="password" required>
               </div>
               <div class="btn">
                  <div class="inner"></div>
                  <button type="submit">login</button>
               </div>
               <div class="signup-link">
                  Not a member? <a href="/register">SignUp now</a>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>
